<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_Anu" href="http://github.com/codingwollf">Anu</a>. Splurty is a random quote generator, and anyone can enter their own quote as well. It's fantastic! Many of the quotes that Anu has entered are environmentally concsious. Be kind to the environment, and add your own favourite quotes as well. 
  </p>
 <br />
  <p> 
  	There are several quotes already added by me, the creator, as well as some mistake quotes which are just 2 letters long with a 1-2 letter long author. Maybe you'll come across them? Spot my mistakes and see that now, quotes that short are not valid anymore -- you can try it if you'd like!
  </p>
  <br />
  <p>
    She learned how to develop this web application through the UofT SCS Coding BootCamp. If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
    <div class="col-12 col-sm-4">
      <img src="https://anugarcha-2e9b4c.netlify.com/me.jpg" alt="Anu" width="500" height="600" class="img-fluid">
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Anu Garcha</h2>
      <br />
      <p>
        Anu is a Geographer and environmental enthusiast. She is also learning to be an avid web developer, (<a target="_blank" href="https://anugarcha-2e9b4c.netlify.com/">Netlify</a>), and most recently is blogging about coding and her daily life on <a target="_blank" href="https://medium.com/@anu.garcha12">Medium</a>, as well as building a platform to discuss environmental issues. 
      </p>
    </div>
  </div>
  <br class="clear" />

  </div>

  <br class="clear" />
<br />
<br />
<br />
<br />